<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.JS</title>
</head>
<body>

<!-- methode 1 -->

<!-- ouvrir terminal -->
<!-- 1) npm install -g @vue/cli -->
<!-- 2) vue create my-project -->
<!-- 3) cd my-project -->
<!-- 4) npm run serve -->


<!-- methode 2 -->

<!-- ouvrir terminal -->
<!-- 1) npm create vite@latest -->
<!-- 2) cd my-project -->
<!-- 3) npm install -->
<!--  4) npm run dev  -->



</body>
</html>