<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.JS</title>
</head>
<body>


  <div id="app1">


    <!-- <p> {{ nb }} </p> -->
  
</div>
  <div id="app2">


    <p> {{ nb }} </p>

    <button v-on:click="func1">Changer</button>
  
</div>




<!-- CDN DE VUE.JS -->


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>


const ins1 = new Vue({
  // el: "#app1",
  template: '<p> {{nb}} </p>',
  data: {
    nb: 2
  }
})
ins1.$mount()
// $el = accéder à l'instance que l'ont vient de créer
document.getElementById('app1').appendChild(ins1.$el)

const ins2 = new Vue({
  el: "#app2",
  data: {
    nb: 5
  },
  methods : {
    func1: function(){
      ins1.nb = " nb change"
    }
  }
})
        
    
    
  
    
    </script>



</body>
</html>